.parent{
    display: flex;
    flex-direction: row;
}

.lastpost{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    
}

.box {
    display: flex;
    flex-direction:column;
    align-items: center;
    width:50%;
    padding-left: 5%;
}

.stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.item {
    text-align: center;
    line-height: 450px;
    width: 600px;
    padding: 2rem 1rem;
    border: 3px solid black;
    color: 3px solid black;
    margin: 0rem;
}

.minoritem{
    text-align: center;
    line-height: 200px;
    width: 400px;
    padding: 2rem 1rem;
    margin-top: 33px;
    padding: 10px;
    height: auto;
  
    color: rgb(94, 93, 93);
    background-color: rgba(243, 150, 9, 0.4);
    box-shadow: 20px 10px 20px 10px rgba(2, 5, 55, 0.4);
    border: 3px solid darkblue;
    
    /* box-shadow: 0 0 0 3px  black; */
    border-radius: 15px;
    overflow:auto;
    scrollbar-width: none;
    size: 16px; 
}

.title {
    margin: auto;
    width: 5%;
    border: px solid green;
    padding: 10px;
}

.fixedleft{
    position:fixed;
    top: 190px;
    left: 1%;
}

.fixedright{
    position:fixed;
    top: 220px;
    right: 10%;
}