.flex-item{
    text-align: center;
    flex-grow:0;
    width:15%;
    padding: 3%;
    margin: auto;
  }
  
  .nav-flex-container{
    text-align: center;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color: #B9B9BA;
  }
  
  .nav-flex-container > .left{
    width:15%;

  }
  
  .nav-flex-container > .right{
    display:flex;
    flex-direction:row;
    width:60%;
  }
  
  .nav-flex-container > .right > div{
    width:50%;
  }
  .nav-flex-container a{
     text-decoration: none; 
  }

  .nav-flex-container button {
      border: none;
  }

  .nav-flex-container img {
      max-height: 5em;
      width: auto;
      padding: none;
  }