/* Authors: Jazib, Christian*/

/* General page stlying */
#registration-page{
    text-align: center;
}

/* ignore for now testing */
#regi{
    text-align: left;
}

#registration-data{
  
  height:440px; 
  margin: auto;
  margin-top: 50px;
  margin-bottom: 15px;
  padding: 1rem;
  width: 30rem;
  background: rgba(255, 244, 239);
  border-radius: 10px;
  box-shadow: 10px 10px 0px rgb(242 105 38);
  
    
}
.regForm{
    display: inline-block;
    float: center;
    clear: left;
    width: 250px;
    text-align: right;

  }
.button{
    text-align: center;
  }
